---
description: I want to make things that make a difference.
title: Andrew Borstein | Full-Stack Front-End Developer
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Materialize - Compiled and minified CSS-->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css"
    />
    <!-- Font Awesome Icon - CSS-->
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <title>{{ title }}</title>
    <!-- Open Graph-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="andrewborstein.com" />
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="article:publisher" content="andrewborstein.com" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@andrewarei" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:url" content="andrewborstein.com" />
    <meta name="author" content="Andrew Borstein" />
    <meta name="description" content="{{ description }}" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/_site/assets/img/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/_site/assets/img/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/_site/assets/img/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/_site/assets/img/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/_site/assets/img/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/_site/assets/img/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/_site/assets/img/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/_site/assets/img/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/_site/assets/img/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/_site/assets/img/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/_site/assets/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/_site/assets/img/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/_site/assets/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/_site/assets/img/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/_site/assets/img/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!--if lt IE 9script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
	-->
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    {{ content | safe }}

    <!--
      Google Analytics
      -------------------------------------------------
      If you want to enable your own account, assign analyticsId to your
      google analytics id, which should be the numbers following "UA-", e.g.
      var analyticsId = "12345678-9"
    -->
    <script>
      var analyticsId;

      // If analytics id has been manually defined
      if (analyticsId) {
        // Initialize GA with local var
        initGoogleAnalytics(analyticsId);
      } else {
        // Initialize GA with Netlify env var available via lamba function
        fetch("/.netlify/functions/env_vars")
          .then(getEnvVar)
          .then(initGoogleAnalytics)
          .catch(handleError);
      }

      // -------------------------------------------------
      // Helper Functions
      // --------------------------------------------------

      function handleError(error) {
        console.log("error", error);
      }

      function getEnvVar(response) {
        // If the request was successful
        if (response.ok) {
          // Return the response text
          return response.text();
        } else {
          // Return a rejected Promise object, triggering the .catch()
          return Promise.reject(response);
        }
      }

      // Set Up Google Analytics
      function initGoogleAnalytics(analyticsId) {
        if (analyticsId) {
          // Inject the Google Analytics Tag Manager script into the DOM
          analyticsUrl =
            "https://www.googletagmanager.com/gtag/js?id=UA-" + analyticsId;
          var ref = document.getElementsByTagName("script")[0];
          var script = document.createElement("script");
          script.src = analyticsUrl;
          ref.parentNode.insertBefore(script, ref);

          // Initialize Google Analytics
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "UA-" + analyticsId);
        }
      }
    </script>
    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Materialize - Compiled and minified JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    <script>
      // Materialize - Initializers
      $(document).ready(function () {
        $(".scrollspy").scrollSpy();
        // Initialize collapse button
        $(".button-collapse").sideNav({
          menuWidth: 190, // Default is 240
          edge: "left", // Choose the horizontal origin
          closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
      });
    </script>

    <!-- prettier-ignore -->
    <small hidden>
           ___                       ___           ___                    ___                                     ___
          /\  \                     /\__\         /\  \                  /\__\                      ___          /\__\
          \:\  \       ___         /:/ _/_        \:\  \                /:/ _/_       ___          /\  \        /:/ _/_
           \:\  \     /\__\       /:/ /\  \        \:\  \              /:/ /\__\     /\__\         \:\  \      /:/ /\__\
       ___ /::\  \   /:/__/      /:/ /::\  \   ___ /::\  \            /:/ /:/  /    /:/__/          \:\  \    /:/ /:/ _/_
      /\  /:/\:\__\ /::\  \     /:/__\/\:\__\ /\  /:/\:\__\          /:/_/:/  /    /::\  \      ___  \:\__\  /:/_/:/ /\__\
      \:\/:/  \/__/ \/\:\  \__  \:\  \ /:/  / \:\/:/  \/__/          \:\/:/  /     \/\:\  \__  /\  \ |:|  |  \:\/:/ /:/  /
       \::/__/       ~~\:\/\__\  \:\  /:/  /   \::/__/                \::/__/       ~~\:\/\__\ \:\  \|:|  |   \::/_/:/  /
        \:\  \          \::/  /   \:\/:/  /     \:\  \                 \:\  \          \::/  /  \:\__|:|__|    \:\/:/  /
         \:\__\         /:/  /     \::/  /       \:\__\                 \:\__\         /:/  /    \::::/__/      \::/  /
          \/__/         \/__/       \/__/         \/__/                  \/__/         \/__/      ~~~~           \/__/
    </small>
  </body>
</html>
