---
layout: layouts/base
---

<!-- Custom Styles-->
<style>
  /* Blog Styles */
  body {
    color: #333;
    font-size: 16px;
  }
  a {
    color: #009688;
  }
  blockquote {
    border-left: 5px solid #795548;
    color: #795548;
    font-size: 125%;
    font-weight: 400;
    margin: 20px 0;
    padding-left: 1.5rem;
  }
  blockquote * {
    font-size: inherit;
    line-height: inherit;
  }
  .text-center {
    text-align: center;
  }
  nav {
    background: white;
    box-shadow: none;
    height: 0;
  }
  nav i {
    padding: 0 15px;
    position: relative;
    top: 5px;
  }
  main {
    background: url(/assets/img/bg.png) repeat;
  }
  article {
    max-width: 85ch;
    margin: 0 auto;
    padding: 2rem;
    font-size: 100%;
    line-height: 1.6;
  }
  img {
    max-width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  }
  @media (min-width: 30rem) {
    article {
      font-size: 120%;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  @media (min-width: 30rem) {
    h1 {
      font-size: 5rem;
    }
  }
  h2 {
    font-size: 3rem;
    line-height: 1.3;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.3;
  }
  hr {
    margin: 4rem 0;
  }
  ul {
    padding-left: 1em;
  }
  ul li {
    list-style-type: initial;
  }
  p a {
    text-decoration: underline;
  }
  dl {
    color: #666;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }
  dd {
    display: inline-block;
    font-weight: 500;
    margin-left: 0;
  }
  dt {
    display: inline-block;
    margin-left: 0.5rem;
  }
  .back-to-index {
    align-content: center;
    display: flex;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    padding: 2rem 3rem;
    text-transform: uppercase;
  }
  .back-to-index i {
    margin-right: 0.5rem;
  }
  dl {
    margin-top: 0.5rem;
  }
  dd {
    display: inline-block;
    font-weight: 500;
    margin-left: 0;
  }
  dt {
    display: inline-block;
    margin-left: 0.5rem;
  }
  pre {
    background-color: #222;
    color: #ccc;
    font-size: 1rem;
    padding: 2rem;
  }
  p code {
    background: #ddd;
    border: 0.25rem solid #ddd;
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
    color: #eb5757;
    font-size: 0.9em;
  }
</style>
<a class="back-to-index" href="/#blog">
  <i class="mdi-hardware-keyboard-arrow-left"></i>
  Back to blog index
</a>
<!-- Main Content-->
<main>
  <article>
    {{ content | safe }}
    <hr>
    <p>
      <a href="mailto:andrew@andrewborstein.com">Email me</a> anytime to offer
      feedback, ask questions, or just say hello 👋.
    </p>
  </article>
</main>
